* {
    padding: 0;
    margin: 0;
}

main {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 0;
    background: #000000;
    overflow: hidden;
}

video {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
    position: relative;
    pointer-events: none;
    margin-top: 0;

}

.titre {
    color: antiquewhite;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 2;
}

.enter:hover {
    color: red;
    box-shadow: 0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 32px;
}

/*animation des lettres sur index*/
.titre span:nth-child(1) {
    animation: myAnim 0.05s ease-in-out 0.05s 1 normal forwards;
    position: absolute;
    opacity: 0;


}

.titre span:nth-child(2) {
    animation: myAnim 0.05s ease-in-out 0.15s 1 normal forwards;
    position: absolute;
    left: 20px;
    opacity: 0;

}

.titre span:nth-child(3) {
    animation: myAnim 0.05s ease-in-out 0.25s 1 normal forwards;
    position: absolute;
    left: 30px;
    opacity: 0;

}

.titre span:nth-child(4) {
    animation: myAnim 0.05s ease-in-out 0.35s 1 normal forwards;
    position: absolute;
    left: 45px;
    opacity: 0;

}

.titre span:nth-child(5) {
    animation: myAnim 0.05s ease-in-out 0.45s 1 normal forwards;
    position: absolute;
    left: 65px;
    opacity: 0;

}

.titre span:nth-child(6) {
    animation: myAnim 0.05s ease-in-out 0.55s 1 normal forwards;
    position: absolute;
    left: 80px;
    opacity: 0;

}

.titre span:nth-child(7) {
    animation: myAnim 0.05s ease-in-out 0.65s 1 normal forwards;
    position: absolute;
    left: 95px;
    opacity: 0;

}

.titre span:nth-child(8) {
    animation: myAnim 0.05s ease-in-out 0.75s 1 normal forwards;
    position: absolute;
    left: 115px;
    opacity: 0;

}

.titre span:nth-child(9) {
    animation: myAnim 0.05s ease-in-out 0.85s 1 normal forwards;
    position: absolute;
    left: 135px;
    opacity: 0;

}

.titre span:nth-child(10) {
    animation: myAnim 0.05s ease-in-out 0.95s 1 normal forwards;
    position: absolute;
    left: 170px;
    opacity: 0;

}

.titre span:nth-child(11) {
    animation: myAnim 0.05s ease-in-out 1.05s 1 normal forwards;
    position: absolute;
    left: 185px;
    opacity: 0;

}

.titre span:nth-child(12) {
    animation: myAnim 0.05s ease-in-out 1.15s 1 normal forwards;
    position: absolute;
    left: 205px;
    opacity: 0;

}

.titre span:nth-child(13) {
    animation: myAnim 0.05s ease-in-out 1.25s 1 normal forwards;
    position: absolute;
    left: 240px;
    opacity: 0;

}

.titre span:nth-child(14) {
    animation: myAnim 0.05s ease-in-out 1.35s 1 normal forwards;
    position: absolute;
    left: 250px;
    opacity: 0;

}

.titre span:nth-child(15) {
    animation: myAnim 0.05s ease-in-out 1.45s 1 normal forwards;
    position: absolute;
    left: 280px;
    opacity: 0;

}

.titre span:nth-child(16) {
    animation: myAnim 0.05s ease-in-out 1.55s 1 normal forwards;
    position: absolute;
    left: 290px;
    opacity: 0;

}

.titre span:nth-child(17) {
    animation: myAnim 0.05s ease-in-out 1.65s 1 normal forwards;
    position: absolute;
    left: 300px;
    opacity: 0;

}

.titre span:nth-child(18) {
    animation: myAnim 0.05s ease-in-out 1.75s 1 normal forwards;
    position: absolute;
    left: 315px;
    opacity: 0;

}

.titre span:nth-child(19) {
    animation: myAnim 0.05s ease-in-out 1.85s 1 normal forwards;
    position: absolute;
    left: 330px;
    opacity: 0;

}

.titre span:nth-child(20) {
    animation: myAnim 0.05s ease-in-out 1.95s 1 normal forwards;
    position: absolute;
    left: 370px;
    opacity: 0;

}

.titre span:nth-child(21) {
    animation: myAnim 0.05s ease-in-out 2.05s 1 normal forwards;
    position: absolute;
    left: 390px;
    opacity: 0;

}

.titre span:nth-child(22) {
    animation: myAnim 0.05s ease-in-out 2.15s 1 normal forwards;
    position: absolute;
    left: 400px;
    opacity: 0;

}

.titre span:nth-child(23) {
    animation: myAnim 0.05s ease-in-out 2.25s 1 normal forwards;
    position: absolute;
    left: 415px;
    opacity: 0;

}

.titre span:nth-child(24) {
    animation: myAnim 0.05s ease-in-out 2.35s 1 normal forwards;
    position: absolute;
    left: 450px;
    opacity: 0;

}

.titre span:nth-child(25) {
    animation: myAnim 0.05s ease-in-out 2.45s 1 normal forwards;
    position: absolute;
    left: 470px;
    opacity: 0;

}

.titre span:nth-child(26) {
    animation: myAnim 0.05s ease-in-out 2.55s 1 normal forwards;
    position: absolute;
    left: 505px;
    opacity: 0;

}

.titre span:nth-child(27) {
    animation: myAnim 0.05s ease-in-out 2.65s 1 normal forwards;
    position: absolute;
    left: 515px;
    opacity: 0;

}

.titre span:nth-child(28) {
    animation: myAnim 0.05s ease-in-out 2.75s 1 normal forwards;
    position: absolute;
    left: 555px;
    opacity: 0;

}

.titre span:nth-child(29) {
    animation: myAnim 0.05s ease-in-out 2.85s 1 normal forwards;
    position: absolute;
    left: 575px;
    opacity: 0;

}

.titre span:nth-child(30) {
    animation: myAnim 0.05s ease-in-out 2.95s 1 normal forwards;
    position: absolute;
    left: 590px;
    opacity: 0;

}

.titre span:nth-child(31) {
    animation: myAnim 0.05s ease-in-out 3.05s 1 normal forwards;
    position: absolute;
    left: 605px;
    opacity: 0;

}

.titre span:nth-child(32) {
    animation: myAnim 0.05s ease-in-out 3.15s 1 normal forwards;
    position: absolute;
    left: 620px;
    opacity: 0;

}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*animation du bouton entrer*/
a.enter {
    animation: myAnim 0.25s ease-in-out 3.35s 1 normal forwards;
    text-decoration: none;
    position: absolute;
    top: 35%;
    left: 35%;
    color: antiquewhite;
    font-size: x-large;
    opacity: 0;
    box-shadow: 0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px #37f713,
    inset 0 0 16px #37f713,
    0 0 32px #37f713,
    inset 0 0 32px #37f713;
    border: 4px solid #fff;
    border-radius: 15px;
    z-index: 5;
    transition: all 330ms ease-in-out;
}

@keyframes flashing {
    0%, 18%, 21%, 32%, 35%, 39%, 42%, 100% {
        text-shadow: 0 0 16px #ffd6d6,
        0 0 16px #ffd6d6;
        box-shadow: 0 0 8px #fff,
        inset 0 0 8px #fff,
        0 0 32px,
        inset 0 0 32px #37f713,
        0 0 64px,
        inset 0 0 64px #37f713;
    }
    20%, 34%, 41% {
        text-shadow: none;
        box-shadow: none;
    }
}

.text0 {
    color: #ffd6d6;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 3;
    font-size: large;
}

.text1 {
    color: #ffd6d6;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 3;
    font-size: large;
}

.text2 {
    color: #ffd6d6;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 3;
    font-size: large;
}

.text3 {
    color: #ffd6d6;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    font-size: large;
}

/*module formulaire de la page d'inscription*/
form {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 2;
    color: #ffd6d6;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px #37f713,
    inset 0 0 16px #37f713,
    0 0 32px #37f713,
    inset 0 0 32px #37f713;
    border: 4px solid #fff;
    border-radius: 15px;
}

input {
    background-color: red;
    border-radius: 15px;
    text-shadow: 0 0 16px #ffd6d6,
    0 0 16px #ffd6d6;
    box-shadow: 0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 32px;
}

form a {
    text-decoration: none;
    color: #ffd6d6;
    padding-left: 20px;
}

form a:hover {
    box-shadow: 0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px red,
    inset 0 0 16px red;
}

label {
    padding-top: 10px;
    padding-left: 10px;
}

h1 .error {
    position: absolute;
    top: 25%;
    left: 50%;
    color: #ffd6d6;
}

@media (max-width: 862px) {
    .titre {
        color: antiquewhite;
        position: absolute;
        top: 25%;
        left: 0%;
        z-index: 2;
    }

    .titre span:nth-child(20) {
        position: absolute;
        top: 50px;
        left: 0px;
        opacity: 0;

    }

    .titre span:nth-child(21) {
        position: absolute;
        top: 50px;
        left: 15px;
        opacity: 0;

    }

    .titre span:nth-child(22) {
        position: absolute;
        top: 50px;
        left: 20px;
        opacity: 0;

    }

    .titre span:nth-child(23) {
        position: absolute;
        top: 50px;
        left: 35px;
        opacity: 0;

    }

    .titre span:nth-child(24) {
        position: absolute;
        top: 50px;
        left: 65px;
        opacity: 0;

    }

    .titre span:nth-child(25) {
        position: absolute;
        top: 50px;
        left: 80px;
        opacity: 0;

    }

    .titre span:nth-child(26) {
        position: absolute;
        top: 50px;
        left: 105px;
        opacity: 0;

    }

    .titre span:nth-child(27) {
        position: absolute;
        top: 50px;
        left: 115px;
        opacity: 0;

    }

    .titre span:nth-child(28) {
        position: absolute;
        top: 50px;
        left: 145px;
        opacity: 0;
    }

    .titre span:nth-child(29) {
        position: absolute;
        top: 50px;
        left: 160px;
        opacity: 0;

    }

    .titre span:nth-child(30) {
        position: absolute;
        top: 50px;
        left: 175px;
        opacity: 0;

    }

    .titre span:nth-child(31) {
        position: absolute;
        top: 50px;
        left: 190px;
        opacity: 0;

    }

    .titre span:nth-child(32) {
        position: absolute;
        top: 50px;
        left: 205px;
        opacity: 0;
    }

    a.enter {
        top: 55%;
        left: 35%;

    }

}

#deco {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 47%;
}

.querry {
    position: absolute;
    padding: 15px;
    top: 45%;
    left: 25%;
    color: #ffd6d6;
    box-shadow: 0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px #37f713,
    inset 0 0 16px #37f713,
    0 0 32px #37f713,
    inset 0 0 32px #37f713;
    border: 4px solid #fff;
    z-index: 3;
    line-height: 2rem;

}