
.commentaires {
    min-width: 50%;
    height: 70%;
    position: absolute;
    overflow: scroll;
    top: 15%;
    left: 30%;
    flex-direction: column;
    justify-content: space-around;
    gap: 35px;
    box-shadow: 0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px #37f713,
    inset 0 0 16px #37f713,
    0 0 32px #37f713,
    inset 0 0 32px #37f713;
    border: 4px solid #fff;
    color: #ffd6d6;
    z-index: 3;
}

.commentaires p {
    border-bottom: #37f713 solid 1px;
    padding: 15px;

}

main a {
    position: absolute;
    top: 40%;
    left: 5%;
    box-shadow: 0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px #37f713,
    inset 0 0 16px #37f713,
    0 0 32px #37f713,
    inset 0 0 32px #37f713;
    border: 4px solid #fff;
    color: #ffd6d6;
    z-index: 3;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: all 330ms ease-in-out;

}

main a:hover {
    color: red;
    box-shadow: 0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 32px;
}

@media (max-width: 862px) {
    .commentaires {
        min-width: 50%;
        overflow: scroll;
        position: absolute;
        display: flex;
        top: 25%;
        left: 30%;

    }

}